*.css linguist-detectable=false
*.java linguist-detectable=false
*.python linguist-detectable=true 
*.js linguist-detectable=false
*.html linguist-detectable=false  
*.xml linguist-detectable=false 
*.tex linguist-detectable=false
*.sty linguist-detectable=false
*.cls linguist-detectable=false

venv/* linguist-detectable=false
build/* linguist-detectable=false
dist/* linguist-detectable=false
